/*Desktop View*/
.header {
  display: flex;
  background: #00425c;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.nav-options a {
  text-decoration: none;
  color: white;
}

.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}

.mobile-menu {
  display: none;
}
@media (max-width: 648px) {
  /*Mobile View */
  .header {
    padding: 0px 10px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #00425c;
    top: 40px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 0px;
  }
  .nav-options.active a {
    text-decoration: none;
    color: white;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    color: whitesmoke;
  }
  .option {
    display: flex;
    padding: 10px 10px 15px 40px;
  }
}
.mobile-menu {
  display: block;
}
