#loader {
  background-color: teal;
  width: 140px;
  height: 140px;
  border-radius: 30%;
  animation: spin 3s ease-in-out infinite;
}

#loader_back {
  background-color: rgba(243, 243, 243, 1);
  margin: 0px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
    left: -40vw;
  }
  50% {
    transform: rotate(360deg);
    left: 40vw;
  }
  100% {
    transform: rotate(-360deg);
    left: -40vw;
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20vw;
  right: 0;
  margin: auto;
}