* {
  margin: 0;
}

.homepage {
  background-image: url("../../assets/susan-wilkinson-iFUBMWwLCZQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: top;
  position: relative;
}

.info_block {
  padding: 15px;
  width: 30%;
  min-height: 30vh;
  justify-content: center;
  margin-top: 5%;
  box-shadow: 0px 0px 4px 0px;
  opacity: 0.8;
  transition: all 0.2s ease;
  color: white;
}

.info_block:hover {
  transform: scale(1,1.02);
}

.content {
  color: white;
  padding: 15px;
}